{% extends 'base.html.twig' %}

{% block title %}New WorldRecords{% endblock %}

{% block body %}
    <h1>Create new WorldRecords</h1>

    {{ include('world_records/_form.html.twig') }}

    <a href="{{ path('admin_wr_index') }}">back to list</a>
{% endblock %}
