{% extends 'base.html.twig' %}

{% block body %}

    <article>
        <h2>titre article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00</div>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>aezhueuiheazaezhuieazuezauhea</p>
            <p>aezhueuiheazaezhuieazuezauhea</p>
            <p>aezhueuiheaz aezhueuiheazaezhuieazuezauhea aezhueuiheazaezhuieazuezauhea aezhueuiheazaezhuieazuezauhea aezhueuiheazaezhuieazuezauhea aezhueuiheazaezhuieazuezauheaaezhuieazuezauhea</p>
        </div>
    </article>

{% endblock %}