{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>
    <div id="content">
        {{ include('contact/_form.html.twig') }}
    </div>
{% endblock %}
