{% extends 'base.html.twig' %}

{% block title %}PlayOfTheWeek{% endblock %}

{% block body %}
    <h1>PlayOfTheWeek</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ play_of_the_week.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ play_of_the_week.title }}</td>
        </tr>
        <tr>
            <th>Link</th>
            <iframe width="900" height="506" src="{{ play_of_the_week.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('potw_index') }}">back to list</a>

{% endblock %}
